body {
    background-color: black;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; /* Removed extra margin to avoid issues */
    padding: 0;
}

#hero {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: #333; /* Ensure background color for the navbar */
    position: sticky;
    top: 0;
    z-index: 1000; /* Keep the navbar above other content */
}

.card-container {
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    gap: 40px; /* Add space between cards */
    align-items: center; /* Center align the cards horizontally */
    margin-top: 100px; /* Add top margin to push the cards below the navbar */
    padding: 20px; /* Add padding around the cards */
}

.loading {
    color: #888;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}

.error {
    color: red;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
